services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 5s
      timeout: 5s
      retries: 10
      
  db:
    container_name: github-reg-db
    image: postgres:17
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  auth-servise:
    container_name: github-reg-service
    build:
      context: github-reg
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${ASYNC_DATABASE_URL}
      - SECRET_KEY=${JWT_SECRET}
      - KAFKA_BROKER=kafka:9092  
    depends_on:
      - db
      - kafka

  project-service:
    container_name: project-service
    build:
      context: project-service
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    environment:
      - SECRET_KEY=${JWT_SECRET}
      - KAFKA_BROKER=kafka:9092
    depends_on:
      - kafka
